- case
  - when params[:step] == "0"
    %h1 Introduction
    %p Welcome to the Site Ninja Installation. This simple tool will guide you through the deployment of a new Site Ninja site.
    = link_to("Start", "/setup?step=1", :class => "next")
  - when params[:step] == "1"
    = render :partial => "step_1"
  - when params[:step] == "2"
    = render :partial => "step_2"
  - when params[:step] == "3"
    = render :partial => "step_3"